@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: 'Rubik';
}

.sk-bg-green{
    background-color: #14532D !important;
}
.sk-bg-gray{
    background-color: #EBEDF5 !important;
}
.sk-bg-green:hover{
    background-color: #1f7542;
}
.sk-bg-green-disbaled{
    background-color: #a6e0be;
}

.sk-button2{
    background-color: #14532D !important;
}
.sk-button2:hover{
    background-color: rgb(13, 68, 35) !important;
}
.progress{
    background-color: #12af51 !important;
}

