@tailwind base;
@tailwind components;
@tailwind utilities;


.filepond--fullsize-overlay{
    z-index: 100000 !important;
}
*{
    font-family: 'Rubik';
}

.sk-bg-green{
    background-color: #14532D !important;
}
.sk-bg-gray{
    background-color: #EBEDF5 !important;
}
.sk-bg-green:hover{
    background-color: #1f7542;
}
.sk-bg-green-disbaled{
    background-color: #a6e0be;
}

.sk-button2{
    background-color: #14532D !important;
}
.sk-button2:hover{
    background-color: rgb(13, 68, 35) !important;
}
.progress{
    background-color: #12af51 !important;
}



.form-max-h {
    max-height: 85vh;
  }
  
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  .form-max-h {
    scrollbar-width: auto;
    scrollbar-color: #d2d2d4 #ffffff;
  }
  
  .form-max-h::-webkit-scrollbar {
    width: 12px;
    height: 200px !important;
  }
  
  .form-max-h::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .form-max-h::-webkit-scrollbar-thumb {
    background-color: #dedee4;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  .dialog-error {
    padding: 10px;
    max-height: 85vh;
    overflow-y: auto;
  }

  .gold{
    color: #e15819;
  }

 .min-sk-w-t{

  min-width: 170px;

  }

  .sk-th-min-w{
    min-width: 300px;
  }